.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.two-fa-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
}

.two-fa-code div {
  flex: 1;
  text-align: center;
}

.two-fa-code button {
  background: none;
  border: none;
  cursor: pointer;
}

/* HomePage Styles */

.float-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-bar {
  background-color: white;
  height: 60px;
}

.app-bar-small {
  height: 50px;
  background-color: white;
}


.app-bar-button {
  color: #ffa500;
}

.app-bar-typography {
  flex-grow: 1;
  text-align: center;
  color: black;
}


.edit-button {
  color: #ffa500;
}

.tokens-typography {
  text-align: center;
  flex-grow: 1;
  color: black;
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-paper {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 400px;
  margin: 100px auto;
  animation: floatingAnimation 2s ease-in-out infinite; /* Apply the float animation */
}

.floating-paper h6 {
  color: orange;
}

@keyframes floatAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}


/* TwoFaCode Styles */


.two-fa-code-paper {
  padding-bottom: 30px;
  justify-content: center;
  margin: 10px 0px 0px 0px;
  display: flex;
  border: 1px;
}

.two-fa-code-container {
  margin-top: 2.5rem;
  text-align: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.two-fa-code-icon {
  justify-content: flex-start;
  text-align: left;
  align-content: center;
  margin-right: 60px;
  align-self: center;
}

.two-fa-code-text {
  text-align: center;
}

.two-fa-code-name {
  color: #FFA500;
}

.two-fa-code-value {
  font-size: 2rem;
}

.two-fa-code-timer {
  margin-right: 10px;
}


/* AddCodePage Styles */

.new-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.new-paper-container {
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 4px;
  text-align: center;
  padding: 40px 30px 40px 30px;
}

.new-heading {
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.new-text-field {
  margin-top: 2px;
  width: 100%;
}

.new-input-label {
  text-align: left;
  margin-left: 2px;
}

.new-select-input {
  margin-top: 1px;
  margin-bottom: 5px;
  width: 100%;
}

.new-button-container {
  margin-top: 1px;
}

.new-back-button {
  margin-top: 1px;
  margin-left: 1px;
}